* {
  margin: 0;
  padding: 0;
  color:#d6d6d6;
  font-family:'Times New Roman', Times, serif;
}

ul {
  list-style-type: none;
}

body {
  padding: 10px;
  background-color: #141313;
  display: flex;
  margin-bottom: 2rem;
}

#viewport {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 1300px;
}

header, footer, .box {
  min-height: 100px;
}

header, footer {
  width: 100%;
}

header {
  background-image: url("https://images.squarespace-cdn.com/content/v1/5df018ec4c9d61288094246c/1578939705332-EW5YRCD1F4FZX9QBMWEJ/interiorheader5.png?format=2500w");
  height: auto;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  outline: 2px solid whitesmoke;
}

header nav ul {
  display: flex;
  text-align: right;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 1rem 1rem;
}

header nav ul li {
  padding-left: 1rem;
}

header h1 {
  font-size: 300%;
  padding-left: 1%;
  padding-right: 1%;
}

header h2 {
  font-size: 200%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 10%;
  text-align: left;
}

.header-format {
  display: flex;
  flex-direction: column;
  min-width: 30%;
  max-height: 50%;
}

.box {
  height: 400px;
  width: 25%;
  padding-left: 1%;
  padding-right: 1%;
  margin-left: 0.5%;
  text-align: center;
  padding-top: .5%;
}

.box h2 {
  font-size: 175%;
  text-align: center;
}

.box1 {
  height: 90vh;
  width: 25%;
  min-width: 200px;
  max-width: 600px;
  justify-content: flex-start;
  margin-right: 2%;
  text-align: start;
}

.about-me {
  outline: solid 1px whitesmoke;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  height: 33rem;
  overflow-y: scroll;
  margin-top: 1.5rem;
}

  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(75, 75, 75); 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: whitesmoke;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background:rgb(54, 56, 58); 
  }

.box1 h2 {
  padding-top: 1rem;
}

.box.box1 img {
  padding-top: 1rem;
}

.box.box1 p {
  padding-top: 1rem;
}

.headshot {
  max-width: 100%;
  max-height: 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 0.5%;
  margin-right: 0.5%;
  min-height: 80vh;
  margin-bottom: 5rem;
}

.flex-container-child {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  justify-content: center;
  margin-top: 3rem;
}

.flex-container-child h2 {
  margin-bottom: 1rem;
}

.box2 {
  width: 30%;
  height: 18rem;
  min-width: 150px;
  min-height: 200px;
}

.flex-container-child section img {
  height: 80%;
  width: 100%;
  outline: solid 1px whitesmoke;
}

.flex-container-child section.box img:hover {
  opacity: 0.5;
  transform: scale(1.05);
  box-shadow: 1px 1px 13px whitesmoke;
}

#footer {
  outline: 2px solid whitesmoke;
  background-image: url("https://images.squarespace-cdn.com/content/v1/5df018ec4c9d61288094246c/1578939705332-EW5YRCD1F4FZX9QBMWEJ/interiorheader5.png?format=2500w");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 2rem;
  padding: 0.5rem;
  align-self: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#footer h2 {
  font-size: 175%;
  text-align: center;
  margin: 0.5rem;
}

@media screen and (max-width: 992px) {

  #viewport {
      display: inline-block;
  }

  .flex-container {
      flex-basis: 50%;
      flex-shrink: 1;
      padding: 1%;
  }

  header h1 {
      text-align: center;
  }
  
  header h2 {
      text-align: center;
  }

  header nav ul {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
  }

  header nav ul li {
      padding-top: 3rem;
      padding-bottom: 1rem;
  }

  .box {
      width: 100%;
      margin: auto;
  }

  .box1 {
      height: auto;
      padding-bottom: 2%;
      margin-bottom: 2%;
      margin-top: 2rem;
  }

  .flex-container-child {
      margin-left: 15%;
      margin-top: 5rem;
  }
}
